#myCoinTable {
    line-height: .95;
}

#mybagTable {
    line-height: 1.25;
}
.bg-image{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/static/images/bg-image.jpg");
     /* image by VectorStock / Dimasic50 */
}

.loginPage {
    margin-top: 50px;

}
nav{
    background-color: #6e75ee;
}

nav .brand-logo {
    font-size: 1.3em;
    margin-left: 10px;
}

.btn-small {
    height: 20px;
    line-height: 20px;
}

.profit-box{
    border: solid 0.5px;
} 

.global_stats{
    justify-content: space-around;
    display: flex;
}

.login-form{
    margin: 20px;
    border: solid 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table.dataTable.no-footer {
    border-bottom-style: none;
}

/* Media queries */
@media only screen and (max-width: 1063px){
    .bg-image{
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("/static/images/bg-image.jpg");
         /* image by VectorStock / Dimasic50 */
    }
}

@media only screen and (max-width: 992px) {

    #mybagTable {
        line-height: 2;
    }
    
    .bag_table{
        line-height: 2.3;
    }
}

.hidden {
    display: none;
}


