.profit-box{
    border: solid 0.5px;
} 

.global_stats{
    justify-content: space-around;
    display: flex;
}

.login-form{
    margin: 20px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.isFavorite{
    color: chartreuse;
}

