{% extends 'base.html' %}
{% block content %}
<table id="mybagTable" class="">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Amount x Price</th>
            <th>Current Value</th>
            <th>Price Diff</th>
            <th>Purchase Date</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{bag.asset}}</td>
            {% for coin in data %}
            {% if coin.symbol == bag.asset %}
            <td>{{bag.amount}} x {{"${:.2f}".format(coin.quote['USD']['price'])}}</td>
            {% set assetValue = bag.amount|float * coin.quote['USD']['price']|float %}
            <td>{{"${:.2f}".format(assetValue)}}</td>
            {% set v1 = bag.price_paid|float %}
            {% set v2 = coin.quote['USD']['price']|float %}
            {% set percent_diff = (v2 - v1) / v1 * 100 %}
            {% if percent_diff > 0 %}
            <td class="profit-box algin-center green">{{"+{:,.2f}%".format(percent_diff)}}</td>
            {% else %}
            <td class="profit-box algin-center red">{{"{:,.2f}%".format(percent_diff)}}</td>
            {% endif %}
            <td>{{bag.date_of_purchase}}</td>
            {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% for coin in data %}
{% if coin.symbol == bag.asset %}
{% set currentPrice = "${:.2f}".format(coin.quote['USD']['price']) %}
<div class="container">
    <div class="row">
        <form action="{{url_for('adding_to_bag', username = session['username'], bag_id=bag_id)}}" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value placeholder="{{bag.asset}}" id="first_name" type="text" class="validate">
                    <label for="first_name">Holdings for {{bag.asset}}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="{{currentPrice}}" id="price_per_unit" type="text" class="validate">
                    <label for="Price per unit">Price per unit</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="{{bag.amount}}" id="amount" type="text" class="validate">
                    <label for="Amount of units">Amount of {{bag.asset}} bought</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    <input id="date_of_purchase" name="date_of_purchase" type="text" placeholder="date of purchase"
                        class="datepicker">
                </div>
            </div>
            <button class="btn-floating waves-effect waves-light" type="submit">
                <i class="material-icons">send</i>
            </button>
        </form>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}