{% extends 'base.html' %}

{% block content %}
<h3>Holding for {{bag.asset}}</h3>
<div class="row">
    <form action="{{url_for('update_bag', username = session['username'], bag_id=bag_id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">control_point</i>
                    <select id="assets" name="asset" value="{{bag.asset}}" type="text" class="validate">
                        <label>Edit a coin</label>
                        {% for coin in data %}
                        {% if bag.asset == coin.symbol %}
                        <option value="{{bag.asset}}"selected >{{coin.symbol}}</option>
                        {% else %}
                        <option>{{coin.symbol}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info</i>
                    <input id="amount" name="amount" type="text" value="{{bag.amount}}" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">payment</i>
                    <input id="price_paid" name="price_paid" type="text" value="{{bag.price_paid}}" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    <input id="date_of_purchase" name="date_of_purchase" type="text" value="{{bag.date_of_purchase}}"
                        class="datepicker">
                </div>
            </div>
            <button class="btn-floating waves-effect waves-light" type="submit">
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}