{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="container loginRegPage">
        <div class="row">
            <form method="POST" action="{{url_for('login')}}"class="login-form col s12">
                <h3>Welcome! Please login.</h3>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Username" name="username" id="first_name" type="text" class="validate">
                        <label for="first_name">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="btn-floating waves-effect waves-light" type="submit">
                    <i class="material-icons">send</i>
                </button>
                <div class="container signin">
                    <p class="center-align">Don't have an account? <a href="{{url_for('register')}}">Create Account</a>.</p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}