{% extends 'base.html' %}
{%block content%}
<table id="mybagTable" class="">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Amount</th>
            <th>Price paid</th>
            <th>Purcahse Date</th>
            <th>Current Price</th>
            <th>percent diff</th>
            <th>Current Value</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        {% for pos in positions %}
        <tr>
            {% set value = pos.amount|float * pos.price_paid|float %}
            <td>{{pos.asset}}</td>
            <td>{{pos.amount}} x {{"${:.2f}".format(pos.price_paid|float)}}</td>
            <td>{{"${:.2f}".format(value)}}</td>
            <td>{{pos.date_of_purchase}}</td>
            {% for coin in data %}
            {% if pos.asset == coin.symbol %}
            {% if coin.quote['USD']['price'] > 1 %}
            <td>{{"${:.2f}".format(coin.quote['USD']['price'])}}</td>
            {% else %}
            <td>{{"${:.5f}".format(coin.quote['USD']['price'])}}</td>
            {% endif %}
            {% set v1 = pos.price_paid|float %}
            {% set v2 = coin.quote['USD']['price']|float %}
            {% set percent_diff = (v2 - v1) / v1 * 100 %}
            {% if percent_diff > 0 %}
            <td class="profit-box algin-center green">{{"+{:,.2f}%".format(percent_diff)}}</td>
            {% else %}
            <td class="profit-box algin-center red">{{"{:,.2f}%".format(percent_diff)}}</td>
            {% endif %}
            {% set current_value = pos.amount|float * coin.quote['USD']['price']|float %}
            <td class="current_value">{{ "${:.2f}".format(current_value)}}</td>
            {% endif %}
            {% endfor %}
            <td><a href="{{url_for('edit_bag', username = session['username'], bag_id=pos._id)}}"
                    class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">edit</i></a>
            </td>
            <td><a href="{{url_for('delete_bag', bag_id=pos._id)}}"
                    class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
    <div class="ct-chart ct-perfect-fourth"></div>
</div>

    {% endblock %}