{% extends 'base.html' %}
{% block content %}
<div class="top-header center-align">
    🚀 <b> Digi Market Cap is here! </b> 🚀 Start tracking your CRYPTO holdings wherever you go! 
</div>
<header>
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
            <a href="{{url_for('index', username = session['username'])}}" class="brand-logo">
                <strong>
                    <em>Digi Market Cap</em>
                </strong>
            </a>
        </div>
    </nav>
</header>

<div class="bg-image">
    <div class="container">
        <div class="row">
            <div class="container col s12">
                <h3 class="center-align">Welcome!</h3>
                <div class="container loginPage">
                    <div class="row">
                        <form method="POST" action="{{url_for('register')}}" class="login-form col s12">
                            <h4>Please create an account.</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Username" name="username" id="first_name" type="text"
                                        class="validate" maxlength="20" required>
                                    <label for="first_name">Username must be available</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="* min of 6 characters" id="password" name="password" type="password" class="validate" maxlength="20" pattern=".{6,}" required>
                                    <label for="password">Password </label>
                                </div>
                            </div>
                            <button class="btn-floating waves-effect waves-light" type="submit">
                                <i class="material-icons">send</i>
                            </button>
                            <div class="container signin">
                                <p class="center-align">Already have an account?<a href="{{url_for('index')}}"> Sign in</a>.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}